// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
#admin-page {
  padding-top: 0%; }




input.mybtn{
  margin: 20px;
  padding: 20px;
}

input.btn.btn-primary.col-sm-2.mybtn {
  margin: 20px;
  padding: 20px;
}
